<div id="modal-grandparent">

  <div id="header-holder">
      <h2>Sign up to embe.rs</h2>
  </div>
  <br />


  <!-- <div class="row"> -->
    <!-- <div id="oauth-container"class="small-4 med-4 large-4 columns"> -->
  <div id="modal-container">
    <div id="oauth-container">
      <h5> Sign up with...</h5>
      <div class="line-separator"></div>

      <div id="around-buttons">
       
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <button id="fb-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-facebook"></i>
            </div>
            Sign in with Facebook
          </button>
        <% end %>

      
        
        <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
          <button id="g-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-google-plus"></i>
            </div>
            Sign in with Google
          </button>
        <% end %>




        <%= link_to user_omniauth_authorize_path(:twitter) do %>
          <button id="tw-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-twitter"></i>
            </div>
            Sign in with Twitter
          </button>
        <% end %>

      </div>
    </div>

    <!-- <div id="sign-up-container" class="small-10 med-7 large-8 columns"> -->
    <div id="sign-up-container" >
      <h5> Or sign up with email </h5>
      <div class="line-separator-email"></div>

      <%= form_for(:user, :url => user_registration_path) do |f| %>
        <%= devise_error_messages! %>
        <br />

        <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
        
        <div><%= f.submit "Sign up", :class => 'button' , :id => 'sign-up-button'%></div>
      <% end %>


    </div>

  </div>


</div>
