<div id="modal-grandparent">

  <div id="header-holder">
      <h2>Sign in to embe.rs</h2>
  </div>
  <br />


  <div id="modal-container">
    <div id="oauth-container">
      <h5> Sign in with...</h5>
      <div class="line-separator"></div>

      <div id="around-buttons">

        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <button id="fb-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-facebook"></i>
            </div>
            Sign in with Facebook
          </button>
        <% end %>

        
        <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
          <button id="g-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-google-plus"></i>
            </div>
            Sign in with Google
          </button>
        <% end %>


        <%= link_to user_omniauth_authorize_path(:twitter) do %>
          <button id="tw-signin" class="oauth-link">
            <div class="button-icon">
              <i class="fa fa-twitter"></i>
            </div>
            Sign in with Twitter
          </button>
        <% end %>

      </div>
    </div>


    <div id="sign-up-container" >
      <h5> Or sign in with email </h5>
      <div class="line-separator-email"></div>


      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %>
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
          <div><%= f.submit "Sign up", :class => 'button' , :id => 'sign-up-button'%></div>
        <% end %>


        <%= render "devise/shared/links" %>

      

    </div>

  </div>


</div>

