<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<div class="path-bg">
  <div class="row">

    <div id="outer-path-container">
   
        <!-- Inner container for decks -->
        <div id="inner-path-container" class="small-12 med-12 large-12 columns small-centered">

          <div class="row">

            <h2 id="path-name">Introduction to <%= @user.paths.first.subject %></h2>
            <%if @user.known_facts && @user.known_facts.count > 0 %>
              
                <%= link_to user_due_facts_path(user_id: current_user.id), "data-transition" => "pop" do %>
                <div id="due-cards">
                  Review my due cards
                </div>
              <% end %>

            <% end %>
          </div>


          <!-- level 1 -->
          <div class="row">
            <% @decks.each do |deck|%>
              <% if(deck.stage < 2) %>
                <%= link_to user_path_deck_path(:path_id => deck.path.id, user_id: current_user.id, :id => deck.id), "data-transition" => "pop" do %>
                  <div id="level-1-deck-<%= @decks.index(deck)+1%>" class="small-12 med-12 large-12 columns small-centered deck-object <%= @user.known_facts.find_by_id(deck.facts.first.id).nil? && 'empty'%>"><%= deck.title %><br /><span class="deck-icon"></span><i class="fa fa-lock lock"></i></div>
                <% end %>
              <% end %>
            <% end %>
            <div class="small-12 med-12 large-12 columns small-centered deck-object-lock"><%= image_tag("unlock.png", :alt => "embe.rs")%></div>
          </div>



          <!-- level 2 -->
          <div class="row">
            <div class="small-12 med-12 large-10 columns small-centered">
              <div class= "row">
                <% @decks.each do |deck|%>
                  <% if(deck.stage < 3 && deck.stage > 2) %>
                    <%= link_to user_path_deck_path(:path_id => deck.path.id, user_id: current_user.id, :id => deck.id), "data-transition" => "pop" do %>
                    <div id="level-2-deck-<%= @decks.index(deck)+1%>"class="small-4 med-3 large-2 columns small-centered deck-object <%= @user.known_facts.find_by_id(deck.facts.first.id).nil? && 'empty'%>"><%= deck.title %><br /><span class="deck-icon"></span><i class="fa fa-lock lock"></i></div>
                    <% end %>
                  <% end %>
                <% end %>
                <div class="small-12 med-12 large-12 columns small-centered deck-object-lock"><%= image_tag("unlock.png", :alt => "embe.rs")%></div>
              </div>
            </div>
          </div>


          <!-- level 3 -->
          <div class="row">
            <% @decks.each do |deck|%>
              <% if(deck.stage < 4 && deck.stage > 3) %>
                <%= link_to user_path_deck_path(:path_id => deck.path.id, user_id: current_user.id, :id => deck.id), "data-transition" => "pop" do %>
                  <div id="level-3-deck-<%= @decks.index(deck)+1%>"class="small-4 med-3 large-2 columns small-centered deck-object <%= @user.known_facts.find_by_id(deck.facts.first.id).nil? && 'empty'%>"><%= deck.title %><br /><span class="deck-icon"></span><i class="fa fa-lock lock"></i></div>
                <% end %>
              <% end %>
            <% end %>
            <div class="small-12 med-12 large-12 columns small-centered deck-object-lock"></div>
          </div>
        </div>
    </div>
  </div>
      <div class="illustration"><%= image_tag("campingillustration.png")%></div>
</div>



<script type="text/javascript">
$(document).ready(
  function(){
        $('.deck-object:contains("Array") span').addClass('icon-prog-ruby')
        $('.deck-object:contains("Strings") span').append('<i class="fa big-deck-icon fa-quote-left"></i>')
        $('.deck-object:contains("Numbers") span').append('<i class="fa big-deck-icon fa-sort-numeric-asc"></i>')
        $('.deck-object:contains("Hashes") span').append('<i class="fa big-deck-icon fa-th-list"></i>')
        $('.deck-object:contains("Git") span').addClass('icon-github-01')
        $('.deck-object:contains("Rails") span').addClass('icon-prog-rails')
        $('.deck-object:contains("Enumerable") span').addClass('icon-prog-bash02')
      });

// toggle illustration on window resize


    </script>
